<!--Aboutページ-->

<div class='container my-5'>
  <div class='row'>
    <div class='col align-self-center'>

      <h1 class='text-center'>About</h1>

      <p class='text-center'><strong>
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お⼦様からお年寄りの⽅までお召し上がりいただけるよう、様々なバリエーションをご⽤意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br>
      <br>
      ぜひご注⽂ください。<br>
      </strong></p>

      <div id='carouselExampleIndicators' class='carousel slide text-center' data-ride='carousel'>

        <ol class='carousel-indicators'>
          <li data-target='#carouselExampleIndicators' data-slide-to='0' class='active'></li>
          <li data-target='#carouselExampleIndicators' data-slide-to='1'></li>
          <li data-target='#carouselExampleIndicators' data-slide-to='2'></li>
        </ol>

        <div class='carousel-inner'>
          <div class='carousel-item active'>
            <%= image_tag 'cafe3.jpg', width: '570px', height: '370px' %>
          </div>
          <div class='carousel-item'>
            <%= image_tag 'cafe2.jpg', width: '570px', height: '370px' %>
          </div>
          <div class='carousel-item'>
            <%= image_tag 'cafe1.jpg', width: '570px', height: '370px' %>
          </div>
        </div>

        <a class='carousel-control-prev' href='#carouselExampleIndicators' role='button' data-slide='prev'>
          <span class='carousel-control-prev-icon' aria-hidden='true'></span>
          <span class='sr-only'>Previous</span>
        </a>
        <a class='carousel-control-next' href='#carouselExampleIndicators' role='button' data-slide='next'>
          <span class='carousel-control-next-icon' aria-hidden='true'></span>
          <span class='sr-only'>Next</span>
        </a>

      </div>

    </div>
  </div>

  <!--3つ丸-->
  <div class='mickey'></div>

</div>
