<!--TOPページ-->

<div class="container">
  <div class="row">
    <div class="col align-self-center">

      <p class="text-center">
        ようこそ、<strong>ながのCAKE</strong>へ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない⽅も商品の閲覧はできますが、<br>
        購⼊には会員登録が必要になります。<br>
      </p>

      <!--サンプルで画像入れました-->
      <div class="text-center">
        <%= image_tag 'cake1.jpg', width: '50%', height: '50%' %>
      </div>

    </div>
  </div>
</div>



<!--後で消します-->

<h2>ここに新着商品いれます</h2>