<div class="container">
  <div class="row">

    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

    <!--サンプルで画像入れました-->
    <img class="card-img" src="assets/cake1.jpg" alt="">

      <!--ここのテキストはとりあえずapplication.scssで真ん中にしてます-->
      <div class="card-img-overlay">
        <p class="bg-secondary text-light">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない⽅も商品の閲覧はできますが、<br>
          購⼊には会員登録が必要になります。<br>
        </p>
      </div>

    </div>

  </div>
</div>

<!--ここに新着商品いれます-->