<!--カート内商品ページ-->

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">

      <h4>ショッピングカート</h4>

      <!--destroy_allボタン-->
      <p class="text-right">カートを空にする</p>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">商品名</th>
            <th class="text-center">単価(税込)</th>
            <th class="text-center">数量</th>
            <th class="text-center">小計</th>
            <th class="text-center"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">削除する</td>
          </tr>
        </tbody>
      </table>

      <!--買い物を続けるボタン-->
      <p class="text-left">買い物を続ける</p>

    </div>

      <div class = "col-4 offset-4">
        <!--合計-->
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="text-center">合計</th>
              <th class="text-center">00円</th>
            </tr>
          </tbody>
        </table>

        <!--情報⼊⼒に進むボタン-->
      <p class="text-center">情報⼊⼒に進む</p>
      </div>

  </div>
</div>