<% @products.each do |product| %>
  <%= link_to admin_product_path(product), class: "btn-link" do %>
    <%= product.name %>
  <% end %>
  <p>説明：<%= product.introduction %></p>
  <p>価格：<%= product.price %></p>
<% end %>


