<!--サンクスページ-->

<div class='container my-5'>
  <div class='row mb-3'>

    <h2 class='pb-5'><strong>ご注文ありがとうございました！</strong></h2>
    <img src='https://fontmeme.com/permalink/210627/81ac7acbca6e21d57dcb4a02425a6191.png' alt='font-disney-logo' border='0'>

  </div>

  <!--3つ丸-->
  <div class='mickey'></div>

</div>