/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

header {
  font-family: 'Kosugi Maru', sans-serif;
}

body {
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #faf0e6;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;

  font-family: 'Caveat', cursive;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.box {
   background-image: url('cafewall01.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   height: 70vh;
   width: 100%;
   position: relative;
   background-position: center;
}

//ようこそ〇〇さん
.welcome {
  color: white;
  border: solid 3px white;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-right: 20px;
}

//商品追加ボタンの色
.fa-plus-square {
  color: black;
}

//フラッシュメッセージ
#notice {
  background-color: #ff7f50;
  color: white;
  
.carousel{
   width:50%;
   margin:auto;
}