<div class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center">
        <p>Copyright © 2021 Naganocake All Rights Reserved.</p>
      </div>

      <div class="mx-auto text-right">
        <%= link_to "管理者ログイン", admin_session_path %>
      </div>

    </div>
  </div>
</div>